<footer class="footer">
        <nav class="nav header__nav _flex-row footer__nav _big-screen">
            <div class="nav__item-container header__nav _flex-column-center">
                <a href="/project/all" class="nav__link footer-link">Projects</a>
                <div class="nav__underline footer-nav__underline"></div>
            </div>
            <div class="nav__item-container header__nav _flex-column-center">
                <a href="/skills/" class="nav__link footer-link">Skills</a>
                <div class="nav__underline footer-nav__underline"></div>
            </div>
        </nav>
        <div class="footer__nav-container _flex-column">
            <div class="footer-row _flex-between">
                <div class="footer-row__left _flex-row">
                    <a href="/" class="logo _flex-row footer__logo">
                        <div class="logo__right andrii-block logo__block logo-block _flex-center footer__block">
                            <div class="logo-block__text">
                                <h1 class="andrii footer__text">Andrii</h1>
                            </div>
                        </div>
                        <div class="logo__left logo__block sych-block logo-block _flex-center footer-sych-block">
                            <div class="logo-block__text">
                                <h1 class="sych footer__text">Sych</h1>
                            </div>
                        </div>
                    </a>
                    <div class="footer-row__contact-link _big-screen">
                        <a target="_blank" href="https://www.instagram.com/andrey_aloof/?hl=en" class="contact-link"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="contact _flex-column-center _big-screen">
                    <div class="contact__title">e-mail:</div>
                    <div class="contact__content">andrii.sych.2003@gmail.com</div>
                </div>
            </div>
            <div class="footer-row _small-screen">
                <div class="contact _flex-column-center temp">
                    <div class="contact__title">e-mail:</div>
                    <div class="contact__content">andrii.sych.2003@gmail.com</div>
                </div>
            </div>
            <div class="footer-row">
                <div class="contact _flex-column-center temp">
                    <div class="contact__title _translate">response time:</div>
                    <div class="contact__content _translate">Mn-Fr: 9:00-21:00</div>
                </div>
            </div>
            </div>
        </div>
    </footer>