<div class="right-menu _flex-column _very-small-screen">
            <div class="right-menu__header">
                <div class="right-menu__hide-button">
                    <div class="right-menu__hide-text">hide</div> <i class="fa-solid fa-xmark cross-icon"></i>
                </div>
            </div>
            <div class="right-menu__item-container">
                <a href="/project/all" class="right-menu__link">Projects</a>
            </div>
            <div class="right-menu__item-container">
                <a href="/skills/" class="right-menu__link">Skills</a>
            </div>
</div>
        <div class="right-menu-black-cover _very-small-screen"></div>
        <div class="header__header _flex-center">
            <div class="header__header__logo-container _small-screen _very-small-screen">
                <a href="/" class="logo _flex-row header__logo footer__logo _small-screen">
                    <div class="logo__right andrii-block logo__block logo-block _flex-center footer__block">
                        <div class="logo-block__text">
                            <h1 class="andrii footer__text">Andrii</h1>
                        </div>
                    </div>
                    <div class="logo__left logo__block sych-block logo-block _flex-center footer-sych-block">
                        <div class="logo-block__text">
                            <h1 class="sych footer__text">Sych</h1>
                        </div>
                    </div>
                </a>
            </div>
            <nav class="nav header__nav _flex-between header__header__menu-container _small-screen">
                <div class="header__links-container _flex-center">
                    <div class="nav__item-container header__nav _flex-column-center">
                        <a href="/project/all" class="nav__link">Projects</a>
                        <div class="nav__underline"></div>
                    </div>
                    <div class="nav__item-container header__nav _flex-column-center">
                        <a href="/skills/" class="nav__link">Skills</a>
                        <div class="nav__underline"></div>
                    </div>
                </div>
            </nav>
            <div class="header__header__eng-switcher-container _small-screen _very-small-screen">
                <div class="header__lang-container _flex-column-center nav__item-container">
                    <a href="" class="nav__simple-link header__lang lang-switcher">eng</a>
                    <ul class="lang-container">
                        <li><a href="" data-lang="eng" class="lang-container__eng lang-container__item">eng</a></li>
                        <li><a href="" data-lang="ukr" class="lang-container__ukr lang-container__item">ukr</a></li>
                    </ul>
                </div>
                <div class="_very-small-screen">
                    <i class="fa-solid fa-bars header__menu-button"></i>
                </div>
            </div>
            <div class="header__header__left"></div>
            <div class="logo-container header__logo-container">
                <div href="/" class="logo _flex-row header__logo _big-screen">
                    <div class="logo__right andrii-block logo__block logo-block _flex-center">
                        <div class="logo-block__text">
                            <h1 class="andrii">Andrii</h1>
                        </div>
                    </div>
                    <div class="logo__left logo__block sych-block logo-block _flex-center">
                        <div class="logo-block__text">
                            <h1 class="sych">Sych</h1>
                        </div>
                    </div>
                </div>
                <a href="/" class="logo-link-cover"></a>
            </div>
            <div class="header__header__right"></div>
        </div>
        <nav class="nav header__nav _flex-between _big-screen">
                <div class="nav__item-container header__nav _flex-column-center">
                    <a href="/project/all" class="nav__link">Projects</a>
                <div class="nav__underline"></div>
                </div>
                <div class="nav__item-container header__nav _flex-column-center">
                    <a href="/skills/" class="nav__link">Skills</a>
                    <div class="nav__underline"></div>
                </div>
            <div class="header__lang-container _flex-column-center nav__item-container">
                <a href="" class="nav__simple-link lang-switcher header__lang _is-active-simple-link">eng</a>
                <ul class="lang-container">
                    <li><a href="" data-lang="eng" class="lang-container__eng lang-container__item">eng</a></li>
                    <li><a href="" data-lang="ukr" class="lang-container__ukr lang-container__item">ukr</a></li>
                </ul>
            </div>
        </nav>