<header class="header _header-index">
    <div class="header__bg-container">
                <video autoplay muted loop class="header__bg">
                    <source src="/resources/default_bg.mp4" type="video/mp4">
                </video>
                <div class="header__grey-cover"></div>
    </div>
    {{> ukr_header_content}}
</header>