<main class="main _main-project">
        <div class="main__header">
            <h1 class="main-text-container__heading">
                Everlasting Summer
            </h1>
        </div>
        <div class="main__container _main-container _flex-row _main-project">
            <div class="main__slider slider">
                <div class="slider__button-container _container-left _flex-center">
                    <button class="slider__button _button-left">
                        &#9664;
                    </button>
                </div>
                <div class="slider__medias">
                    <div class="slider__curtain _left-curtain"></div>
                    <div class="slider__curtain _right-curtain"></div>
                    <img src="/resources/EverlastingSummer/5.jpg" alt="" class="slider__image _image-moving _image-left">
                    <div class="current-image-container">
                        <img src="/resources/EverlastingSummer/1.jpg" alt="" class="slider__image _image-moving _image-current">
                        <div class="slider__pages _flex-center">
                            <div class="slider__page _flex-center _active-page">
                                <div class="slider__page-inner"></div>
                            </div>
                            <div class="slider__page _flex-center">
                                <div class="slider__page-inner"></div>
                            </div>
                            <div class="slider__page _flex-center">
                                <div class="slider__page-inner"></div>
                            </div>
                            <div class="slider__page _flex-center">
                                <div class="slider__page-inner"></div>
                            </div>
                            <div class="slider__page _flex-center">
                                <div class="slider__page-inner"></div>
                            </div>
                        </div>
                    </div>
                    <img src="/resources/EverlastingSummer/2.jpg" alt="" class="slider__image _image-moving _image-right">
                </div>
                <div class="slider__button-container _container-right _flex-center">
                    <button class="slider__button _button-right">
                        &#9654;
                    </button>
                </div>
            </div>
            <div class="project-desc">
                <div class="project-desc__links _flex-row">
                    <a href="https://store.steampowered.com/app/331470/Everlasting_Summer/" class="project-link" target="_blank">
                        <i class="fa-brands fa-steam-symbol project-link__logo"></i>
                        <span class="project-link__text">Steam</span>
                    </a>
                     <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="project-link" target="_blank">
                        <i class="fa-brands fa-square-github project-link__logo"></i>
                        <span class="project-link__text">GitHub</span>
                    </a>
                </div>
                <div class="main__desc">
                    <p class="main-text-container__p">
                        Meeting Artyom, the game's main character, you would've never paid attention to him. Just an ordinary young man with thousands, even hundreds of thousands of those like him in every ordinary city. But one day something completely unusual happens to him: he falls asleep in a bus in winter and wakes up... in the middle of a hot summer. In front of him is "Sovyonok" - a pioneer camp, behind him is his former life. </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="main__details">
            <p class="main-text-container__p">
                I really liked Everlasting Summer - it made a great impression on me. I thought it would be nice to copy it using some framework. C++ is cool and all, but I don't see it being applied in my real job. I am more of a Java guy. I tried using Java FX to clone this game, I even replicated first 15 minutes of gameplay, but then I lost motivation to continue. I will try again, this time using C# and its framework WPF.
            </p>
            <p class="main-text-container__p">
                If it really goes further than 'Hello world', I will upload a development diary - I think it would be interesting.
            </p>
        </div>
        <script src="/js/project.js"></script>
</main>