
    <section class="moto">
        <div class="moto__container very-small-screen-text">
            <h1 class="moto__text very-small-screen-text">
                <span class="big-screen-text moto__text-item">There are only </span><span class="moto__decor"><span class="big-screen-text moto__text-item">b</span><span class="small-screen-text moto__text-item">B</span><span class="moto__text-item">lack</span></span><span class="moto__text-item"> and white</span><span class="small-screen-text">.</span><span class="big-screen-text moto__text-item"> colors.</span><span class="_big-screen moto__text-item"> The rest are shades.</span>
            </h1>
            <h1 class="moto__text _small-screen very-small-screen-text moto__text-item">
                The rest are shades.
            </h1>
        </div>
    </section>
    <main class="main">
        <div class="main__container _flex-between">
            <h1 class="main-text-container__heading _small-screen">
                Hi, I am Andrii.
            </h1>
            <img src="./resources/selfie.jpeg" alt="" class="selfie">
            <div class="main__container__desc main-text-container">
                <h1 class="main-text-container__heading main__container__heading _big-screen">
                    Hi, I am Andrii.
                </h1>
                <p class="main-text-container__p">
                    I'm 18, and originally I come from Ukraine. I am an average programming enjoyer. 
                </p>
                <p class="main-text-container__p">
                    I wouldn't say I could imagine myself anywhere apart from this job.
                </p>
                <p class="main-text-container__p">
                    My interests are common for modern zoomer: videogames, movies, history, working out, cycling.
                </p>
                <p class="main-text-container__p">
                    Although I think that at some point Dota 2 has become more than a hobbie: I reached 6000 MMR.
                </p>
                <p class="main-text-container__p">
                    Moreover, my favourite games are: Everlasting Summer, TF2, Half-Life, Portal, Metro 2033.
                </p>
                <p class="main-text-container__p">
                    Concerning series, Breaking Bad and Leet World are the best things I've seen in my life. 
                </p>
                <p class="main-text-container__p">
                    Trying not to give up on projects you can see in the 'projects' tab on this site.
                </p>
            </div>
        </div>
    </main>