<main class="main">
        <div class="main__container _flex-column _main-skills">
            <h1 class="main-text-container__heading _heading-skills">
                Skills
            </h1>
            <div class="skills">
                <div class="skills-container">
                    <div class="skill-button">
                        <span class="skill-button__text _translate">General Stack</span>
                        <span class="skill-button__text skill-button__arrow">&#8595;</span>
                    </div>
                    <div class="skill-list _flex-column">
                        <div class="skill">
                            <h1 class="skill_heading main-text-container__heading">
                                Java
                            </h1>
                            <p class="skill_desc main-text-container__p">
                                Best language ever created by humanity - change my mind. I replicated 15 minutes of Everlasting Summer using Java FX, but gave up. Gonna try one more time after this website is done.
                            </p>
                        </div>
                        <div class="skill">
                            <h1 class="skill_heading main-text-container__heading">
                                C#
                            </h1>
                            <p class="skill_desc main-text-container__p">
                                I am still into minds between C# and Java.
                            </p>
                        </div>
                        <div class="skill">
                            <h1 class="skill_heading main-text-container__heading">
                                C++
                            </h1>
                            <p class="skill_desc main-text-container__p">
                                I've learned C++ in my first 3 semesters of college. I like it, but don't see it being applied in my actual job.
                            </p>
                        </div>
                        <div class="skill">
                            <h1 class="skill_heading main-text-container__heading">
                                JS
                            </h1>
                            <p class="skill_desc main-text-container__p">
                                I don't like javascript. Its type system (or rather its absense) makes it very hard to code even something simple - you spend most of the time trying to figure out why some function is 'undefined'.
                            </p>
                        </div>
                        <div class="skill">
                            <h1 class="skill_heading main-text-container__heading">
                                C
                            </h1>
                            <p class="skill_desc main-text-container__p">
                                I had C in my first semester. If you know C++, you already know C - nothing to add here.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="skills-container">
                    <div class="skill-button">
                        <span class="skill-button__text _translate">Web Stack</span>
                        <span class="skill-button__text skill-button__arrow">&#8595;</span>
                    </div>
                    <div class="skill-list _flex-column">
                        <div class="skill">
                            <h1 class="skill_heading main-text-container__heading">
                                Node.js + express
                            </h1>
                            <p class="skill_desc main-text-container__p">
                                Nothing much to add here. This website is written in express.
                            </p>
                        </div>
                        <div class="skill">
                            <h1 class="skill_heading main-text-container__heading">
                                SQL
                            </h1>
                            <p class="skill_desc main-text-container__p">
                                I've had SQL databases for 2 semesters, I also know database design (decomposition of a problem, one-to-many relationships etc).
                            </p>
                        </div>
                        <div class="skill">
                            <h1 class="skill_heading main-text-container__heading">
                                MongoDB
                            </h1>
                            <p class="skill_desc main-text-container__p">
                                Seneca also taught me mongo db, I feel like SQL is more solid though.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</main>
<script src="/js/skills.js" defer></script>