
    <section class="moto">
        <div class="moto__container very-small-screen-text">
            <h1 class="moto__text very-small-screen-text">
                <span class="big-screen-text moto__text-item">Є лише </span><span class="moto__decor"><span class="big-screen-text moto__text-item">ч</span><span class="small-screen-text moto__text-item">Ч</span><span class="moto__text-item">орний</span></span><span class="moto__text-item"> та білий</span><span class="small-screen-text">.</span><span class="big-screen-text moto__text-item"> кольори.</span><span class="_big-screen moto__text-item"> Усе інше - відтінки.</span>
            </h1>
            <h1 class="moto__text _small-screen very-small-screen-text moto__text-item">
                Усе інше - відтінки.
            </h1>
        </div>
    </section>
    <main class="main">
        <div class="main__container _flex-between">
            <h1 class="main-text-container__heading _small-screen">
                Привіт, я Андрій.
            </h1>
            <img src="./resources/selfie.jpeg" alt="" class="selfie">
            <div class="main__container__desc main-text-container">
                <h1 class="main-text-container__heading main__container__heading _big-screen">
                    Привіт, я Андрій.
                </h1>
                <p class="main-text-container__p">
                    Мені 18, я з України. Я люблю програмування.
                </p>
                <p class="main-text-container__p">
                    Я б не сказав, що можу уявити себе десь окрім цієї роботи.
                </p>
                <p class="main-text-container__p">
                    Мої інтереси звичайні для сучасного зумера: відеоігри, фільми, історія, тренування, велоспорт.
                </p>
                <p class="main-text-container__p">
                    Хоча я думаю, що в якийсь момент Dota 2 стала більше, ніж хобі: я досяг 6000 MMR.
                </p>
                <p class="main-text-container__p">
                    Мої улюблені ігри: Everlasting Summer, TF2, Half-Life, Portal, Metro 2033.
                </p>
                <p class="main-text-container__p">
                    Щодо серіалів, то Breaking Bad і Leet World - це найкраще, що я бачив у своєму житті. 
                </p>
                <p class="main-text-container__p">
                    Намагаюсь не відмовлятися від проектів, які ви можете побачити у вкладці «проекти» на цьому сайті.
                </p>
            </div>
        </div>
    </main>