<main class="main _main-project">
        <div class="main__header">
            <h1 class="main-text-container__heading">
                Нескінченне Літо
            </h1>
        </div>
        <div class="main__container _main-container _flex-row _main-project">
            <div class="main__slider slider">
                <div class="slider__button-container _container-left _flex-center">
                    <button class="slider__button _button-left">
                        &#9664;
                    </button>
                </div>
                <div class="slider__medias">
                    <div class="slider__curtain _left-curtain"></div>
                    <div class="slider__curtain _right-curtain"></div>
                    <img src="/resources/EverlastingSummer/5.jpg" alt="" class="slider__image _image-moving _image-left">
                    <div class="current-image-container">
                        <img src="/resources/EverlastingSummer/1.jpg" alt="" class="slider__image _image-moving _image-current">
                        <div class="slider__pages _flex-center">
                            <div class="slider__page _flex-center _active-page">
                                <div class="slider__page-inner"></div>
                            </div>
                            <div class="slider__page _flex-center">
                                <div class="slider__page-inner"></div>
                            </div>
                            <div class="slider__page _flex-center">
                                <div class="slider__page-inner"></div>
                            </div>
                            <div class="slider__page _flex-center">
                                <div class="slider__page-inner"></div>
                            </div>
                            <div class="slider__page _flex-center">
                                <div class="slider__page-inner"></div>
                            </div>
                        </div>
                    </div>
                    <img src="/resources/EverlastingSummer/2.jpg" alt="" class="slider__image _image-moving _image-right">
                </div>
                <div class="slider__button-container _container-right _flex-center">
                    <button class="slider__button _button-right">
                        &#9654;
                    </button>
                </div>
            </div>
            <div class="project-desc">
                <div class="project-desc__links _flex-row">
                    <a href="https://store.steampowered.com/app/331470/Everlasting_Summer/" class="project-link" target="_blank">
                        <i class="fa-brands fa-steam-symbol project-link__logo"></i>
                        <span class="project-link__text">Steam</span>
                    </a>
                     <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="project-link" target="_blank">
                        <i class="fa-brands fa-square-github project-link__logo"></i>
                        <span class="project-link__text">GitHub</span>
                    </a>
                </div>
                <div class="main__desc">
                    <p class="main-text-container__p">
                        Зустрівшись з Артемом, головним героєм гри, ви б ніколи не звернули на нього уваги. Звичайний молодий чоловік, у кожному звичайному місті тисячі, навіть сотні тисяч таких, як він. Але одного разу з ним відбувається щось зовсім незвичайне: він засинає в автобусі взимку і прокидається... посеред спекотного літа. Перед ним «Совеня» — піонерський табір, позаду його колишнє життя. 
                    </p>
                </div>
            </div>
        </div>
        <div class="main__details">
            <p class="main-text-container__p">
                Мені дуже сподобалася Everlasting Summer - вона справила на мене велике враження. Я подумав, що було б непогано скопіювати цю гру за допомогою якогось фреймворку. C++ — це круто і все таке, але я не бачу його застосування в моїй реальній роботі. Мені більше подобається Java. Я спробував використати Java FX, щоб клонувати цю гру, навіть відтворив перші 15 хвилин ігрового процесу, але потім втратив мотивацію продовжувати. Я спробую ще раз, цього разу використовуючи C# та його фреймворк WPF.
            </p>
            <p class="main-text-container__p">
                Якщо це дійсно піде далі, ніж «Hello world», я завантажу щоденник розробника — я думаю, це буде цікаво.
            </p>
        </div>
        <script src="/js/project.js"></script>
</main>