<main class="main">
        <div class="main__container _flex-column-center">
            <h1 class="main-text-container__heading">
                Проєкти
            </h1>
            <div class="gallery _flex-between">
                <div class="gallery__item gallery-item _flex-column-center">
                    <a href="/project/everlastingSummer" class="gallery-item__link"></a>
                    <div class="gallery-item__body">
                        <img src="/resources/projects/1.jpg" alt="" class="gallery__img">
                        <div class="gallery-item__more-container">
                            <a class="gallery-item-more"><span class="gallery-item-more-text">Більше</span> &#8594;</a>
                        </div>
                    </div>
                    <div class="gallery-item__footer">
                        Нескінченне Літо
                    </div>
                </div>
            </div>
        </div>
</main>